@page
@model UI.Pages.Jewelries.CreateJewelryModel
@{
    Layout = "_ManagerLayout";
}

<style>
    .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
        padding: 8px;
        line-height: 1.42857143;
        vertical-align: middle;
        border-top: 1px solid #ddd
    }

    .wrap-text {
        word-wrap: break-word; /* IE */
        overflow-wrap: break-word; /* CSS3 */
        white-space: normal;
        max-width: 150px;
    }
</style>

<section id="center" class="center_shop">
    <div class="container">
        <div class="row">
            <div class="center_shop_t clearfix">
                <div class="col-sm-6">
                    <div class="center_shop_tl clearfix d-flex align-items-center">
                        <h4 class="mgt">NEW GEM</h4>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="center_shop_tr text-right clearfix">
                        <h6 class="col_2">You are here: <a asp-asp-page="Gems/Index">Home</a> / Gem</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section id="cart_page" class="clearfix cart">
    <div class="container">
        <div class="row">

            <div class="cart_3 clearfix">

                <div class="col-sm-6">

                    <!-- Metal cart -->
                    <div class="cart_3r clearfix">
                        <h5 class="mgt head_1">METAL</h5>
                    </div>
                    <hr />
                    @{
                        var metalsInCart = Model.MetalCart;
                        if (metalsInCart != null && metalsInCart.Count > 0)
                        {
                            foreach (var metal in metalsInCart)
                            {
                                <div class="cart_3l1 clearfix">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th>Metal Name</th>
                                                <th>Weight (toz)</th>
                                                <th>Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    @switch (metal.MetalName)
                                                    {
                                                        case "gold":
                                                            <a href="#"><img src="~/img/gold.jpg" alt="gold" style="max-width: 100px; max-height: 100px" class="iw"></a>
                                                            break;
                                                        case "silver":
                                                            <a href="#"><img src="~/img/silver.jpg" alt="silver" style="max-width: 100px; max-height: 100px" class="iw"></a>
                                                            break;
                                                        case "palladium":
                                                            <a href="#"><img src="~/img/palladium.jpg" alt="palladium" style="max-width: 100px; max-height: 100px" class="iw"></a>
                                                            break;
                                                    }
                                                </td>
                                                <td>
                                                    <h5 class="mgt">
                                                        @metal.MetalName.ToUpper()
                                                    </h5>
                                                </td>
                                                <td>
                                                    <h5 class="mgt">
                                                        Weight (toz)
                                                    </h5>
                                                </td>
                                                <form method="post" asp-page-handler="HandleMetalCart">
                                                <td>
                                                    <div class="input-group number-spinner">
                                                        <input type="text" asp-for="@metal.Weight" size="2px" class="form-control text-center" name="weight">
                                                    </div>
                                                </td>
                                                <td>
                                                        <input type="hidden" name="materialId" value="@metal.MaterialId" />
                                                        <h6 class="mgt"><button class="button mgt" name="action" value="update">UPDATE</button></h6>
                                                </td>
                                                </form>
                                            </tr>
                                        </tbody>
                                    </table>

                                </div>
                            }
                        }
                        else
                        {
                            <p>You don't add any metal right now</p>
                        }
                    }
                    <hr />

                    <!-- Summanry -->
                    <div class="cart_3r clearfix">
                        <h5 class="mgt head_1">MATERIALS</h5>
                    </div>
                    <hr />
                    @{
                        if (Model.MaterialCart != null && Model.MaterialCart.Count > 0)
                        {
                            <table class="table table-striped table-center">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Name</th>
                                        <th>Weight</th>
                                        <th>Sell Price</th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var material in Model.MaterialCart)
                                    {

                                        <tr class="d-flex justify-content-center">
                                            @if (material.Material.IsMetail)
                                            {
                                                <td>@material.Material.MaterialId</td>
                                                <td>@material.Material.MaterialName.ToUpper()</td>
                                                <td>@material.Weight</td>
                                                <td></td>
                                                switch (material.Material.MaterialName)
                                                {
                                                    case "gold":
                                                        <td>
                                                            <img src="~/img/gold.jpg" style="max-width: 100px; max-height: 100px;" />
                                                        </td>
                                                        break;
                                                    case "silver":
                                                        <td>
                                                            <img src="~/img/silver.jpg" style="max-width: 100px; max-height: 100px;" />
                                                        </td>
                                                        break;
                                                    case "palladium":
                                                        <td>
                                                            <img src="~/img/palladium.jpg" style="max-width: 100px; max-height: 100px;" />
                                                        </td>
                                                        break;
                                                }
                                                <td></td>
                                                <td>
                                                    <form method="post" asp-page-handler="RemoveFromMaterialCart">
                                                        <input type="hidden" name="materialId" value="@material.Material.MaterialId" />
                                                        <h6 class="mgt"><button class="button_1 mgt" name="action" value="remove">REMOVE</button></h6>
                                                    </form>
                                                </td>
                                            }
                                            @if (!material.Material.IsMetail)
                                            {
                                                <td>@material.Material.MaterialId</td>
                                                <td>@material.Material.MaterialName.ToUpper()</td>
                                                <td></td>
                                                <td>@material.Material.MaterialCost</td>
                                                <td>
                                                    <img src="data:image/jpeg;base64,@Convert.ToBase64String(material.Material.MaterialImage)" style="max-width: 100px; max-height: 100px;" />
                                                </td>
                                                <td>
                                                    <a class="button" asp-page="/Gems/Detail" asp-route-id="@material.Material.MaterialId">Details</a>
                                                </td>
                                                <td>
                                                    <form method="post" asp-page-handler="RemoveFromMaterialCart">
                                                        <input type="hidden" name="materialId" value="@material.Material.MaterialId" />
                                                        <h6 class="mgt"><button class="button_1 mgt" name="action" value="remove">REMOVE</button></h6>
                                                    </form>
                                                </td>
                                            }
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        }
                        else
                        {
                            <p>You don't have any material right now</p>
                        }
                    }
                    <hr />

                </div>

                <div class="col-sm-6">

                    <!-- Load gem -->
                    <div class="cart_3r clearfix">
                        <h5 class="mgt head_1">GEM</h5>
                    </div>
                    <hr />
                    <form asp-page-handler="SearchGem" method="post">
                        <input type="text" />
                        <input type="submit" value="Search" />
                    </form>
                    <table class="table table-striped table-center">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Type</th>
                                <th>Sell Price</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var gem in Model.Gems)
                            {
                                <tr class="d-flex justify-content-center">
                                    <td>@gem.MaterialId</td>
                                    <td>@gem.MaterialName</td>
                                    <td>@gem.MaterialCost</td>
                                    <td>
                                        <img src="data:image/jpeg;base64,@Convert.ToBase64String(gem.MaterialImage)" style="max-width: 100px; max-height: 100px;" />
                                    </td>
                                    <td>
                                        <a class="button" asp-page="/Gems/Detail" asp-route-id="@gem.MaterialId">Details</a>
                                    </td>
                                    <td>
                                        <form asp-page-handler="AddGemToCart" method="post">
                                            <input type="hidden" name="MaterialId" value="@gem.MaterialId" />
                                            <button class="button" type="submit">Cart</button>
                                        </form>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <hr />
                </div>

            </div>

        </div>
    </div>
    </section>

    <hr />
<form method="post" enctype="multipart/form-data" asp-page-handler="CreateJewelry">
    <section id="checkout" class="clearfix">
        <div class="container">
            <div class="row">
                <div class="checkout_1 clearfix">
                    <div class="col-sm-6">
                        <div class="checkout_1l1 clearfix">
                            <div class="col-sm-6 space_left">
                                <h5>Jewelry Name <span class="col_1">*</span></h5>
                                <input asp-for="@Model.Jewelry.JewelryName" class="form-control" type="tex">
                            </div>
                            @{
                                bool haveGem = false;
                            }
                            @if (Model.MaterialCart != null && Model.MaterialCart.Count > 0)
                            {
                                @foreach (var material in Model.MaterialCart)
                                {
                                    if (!material.Material.IsMetail)
                                    {
                                        haveGem = true;
                                    }
                                }
                            }
                            @if (!haveGem)
                            {
                                <div class="col-sm-6 space_left">
                                    <h5>Quantity <span class="col_1">*</span></h5>
                                    <input asp-for="@Model.Jewelry.Quantity" class="form-control" type="number">
                                </div>
                            }
                        </div>
                        <div class="checkout_1l1 clearfix">
                            <div class="col-sm-6 space_left">
                                <h5>Category <span class="col_1">*</span></h5>
                                <select id="jewelryCategory" name="selectedCategory" class="form-control">
                                    @foreach (var option in Model.JewelryOptions)
                                    {
                                        <option value="@option.CategoryId">@option.CategoryName</option>
                                    }
                                </select>
                            </div>
                            <div class="col-sm-6 space_left">
                                <h5>Work Fee <span class="col_1">*</span></h5>
                                <input asp-for="@Model.Jewelry.LaborPrice" class="form-control" >
                            </div>
                        </div>
                        <div class="checkout_1l1 clearfix">
                            <div class="col-sm-12 space_left">
                                <h5>Description <span class="col_1">*</span></h5>
                                <textarea asp-for="@Model.Jewelry.Description" class="form-control"></textarea>
                            </div>
                        </div>
                        <div class="checkout_1l1 clearfix">
                            <h4 class="mgt"><input class="button" type="submit" value="CREATE" /></h4>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="checkout_1l1 clearfix">
                            <h5>Jewelry Image <span class="col_1">*</span></h5>
                            <input asp-for="Jewelry.ImageDataFile" type="file" class="form-control" id="materialImageInput" accept="image/*">
                            <div class="mt-6" id="materialImagePreviewContainer">
                                <!-- Preview images will be shown here -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</form>

<script>
    // Function to handle file input change and show preview
    function handleFileSelect(inputId, previewContainerId) {
        const input = document.getElementById(inputId);
        const previewContainer = document.getElementById(previewContainerId);

        input.addEventListener('change', function () {
            while (previewContainer.firstChild) {
                previewContainer.removeChild(previewContainer.firstChild);
            }

            const file = input.files[0];
            const reader = new FileReader();

            reader.onload = function (e) {
                const imgElement = document.createElement('img');
                imgElement.setAttribute('src', e.target.result);
                imgElement.setAttribute('class', 'img-thumbnail');
                previewContainer.appendChild(imgElement);
            }

            reader.readAsDataURL(file);
        });
    }

    // Call handleFileSelect for each file input
    document.addEventListener('DOMContentLoaded', function () {
        handleFileSelect('materialImageInput', 'materialImagePreviewContainer');
    });
</script>