@page
@model UI.Pages.Jewelries.DetailsModel

@{
    ViewData["Title"] = "Jewelry Details";
    var jewelry = Model.Jewelry;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jewelry Details</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }

        .report {
            width: 100%;
            max-width: 1000px;
            margin: 0 auto;
            border: 1px solid #ccc;
            padding: 20px;
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
        }

        .header, .footer {
            text-align: center;
            margin-bottom: 20px;
        }

        .content {
            display: flex;
        }

        .left {
            width: 30%;
            padding: 10px;
            margin-left: 20px;
            margin-top: 20px;
        }

        .right {
            width: 70%;
            padding: 10px;
            margin-left: 50px;
            margin-top: 20px;
        }

        .details {
            display: flex;
            flex-direction: column;
        }

        .details-item {
            display: flex;
            justify-content: space-start;
            margin-bottom: 10px;
           
        }

        .details-item dt {
            font-weight: bold;
            margin-right: 10px;
        }
    </style>
</head>
<body>
    <div class="report">
        <div class="header">
            <h1>Jewelry Report</h1>
            <h2>ID No: @jewelry.JewelryId</h2>
        </div>
        <div class="content">
            <div class="left">
                <img src="data:image/*;base64,@Model.ImageDataBase64String" alt="Jewelry Image" style="width:100%; max-width:300px;">
            </div>
            <div class="right">
                <dl class="details">
                    <div class="details-item">
                        <dt>Jewelry Name:</dt>
                        <dd>@jewelry.JewelryName</dd>
                    </div>
                    <div class="details-item">
                        <dt>Description:</dt>
                        <dd>@Html.Raw(jewelry.Description)</dd>
                    </div>
                    <div class="details-item">
                        <dt>Total Weight:</dt>
                        <dd>@jewelry.TotalWeight gam</dd>
                    </div>
                    <div class="details-item">
                        <dt>Labor Price:</dt>
                        <dd>@jewelry.LaborPrice.ToString("#,##0") VNĐ</dd>
                    </div>

                    <div class="details-item">
                        <dt>Quantity:</dt>
                        <dd>@jewelry.Quantity</dd>
                    </div>
                    <div class="details-item">
                        <dt>Markup Percentage:</dt>
                        <dd>@jewelry.MarkupPercentage</dd>
                    </div>
                    <div class="details-item">
                        <dt>Status:</dt>
                        <dd>@ViewData["StatusSaleDisplay"]</dd>
                    </div>
                    <div class="details-item">
                        <dt>Category:</dt>
                        <dd>@jewelry.Category.CategoryName</dd>
                    </div>
                    <div class="details-item" style="margin-top:20px;">
                        <dt><h4><strong>Base Price: </strong></h4></dt>
                        <dd><h4><strong>@(((Decimal)ViewData["BasePriceDisplay"]).ToString("#,##0")) VNĐ</strong></h4></dd>
                    </div>
                </dl>
            </div>
        </div>
    </div>
</body>
</html>
