@page
@model UI.Pages.Jewelries.DetailsModel

@{
    ViewData["Title"] = "Jewelry Details";
    var jewelry = Model.Jewelry;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jewelry Details</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }

        .report {
            width: 100%;
            max-width: 1000px;
            margin: 0 auto;
            border: 1px solid #ccc;
            padding: 20px;
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
        }

        .header, .footer {
            text-align: center;
            margin-bottom: 20px;
        }

        .content {
            display: flex;
        }

        .left {
            width: 30%;
            padding: 10px;
            margin-left: 20px;
            margin-top: 20px;
        }

        .right {
            width: 70%;
            padding: 10px;
            margin-left: 50px;
            margin-top: 20px;
        }

        .details {
            display: flex;
            flex-direction: column;
        }

        .details-item {
            display: flex;
            justify-content: space-start;
            margin-bottom: 10px;
           
        }

        .details-item dt{
            font-weight: bold;
            margin-right: 10px;
        }

        .details-item dd {
			margin-right: 10px;
		}

        .material-details {
            margin: 20px auto;
        }

        .title-material {
            margin: 20px 0;
        }
    </style>
</head>
<body>
    <div class="report">
        <div class="header">
            <h1>Jewelry Report</h1>
            <h2>ID No: @jewelry.JewelryId</h2>
        </div>
        <div class="content">
            <div class="left">
                <img src="data:image/*;base64,@Model.ImageDataBase64String" alt="Jewelry Image" style="width:100%; max-width:300px;">
            </div>
            <div class="right">
                <div> 
                    <h4 class="title-material"> Product Information</h4>
                    <dl class="details">
                        <div class="details-item">
                            <h5>
                                <dt>Jewelry ID:</dt>
                                <dd>@jewelry.JewelryId</dd>
                            </h5>
                        </div>
                        <div class="details-item">
                            <h5>
                                <dt>Jewelry Name:</dt>
                                <dd>@jewelry.JewelryName</dd>
                            </h5>
                        </div>
                        <div class="details-item">
                            <dt>Description:</dt>
                            <dd>@Html.Raw(jewelry.Description)</dd>
                        </div>
                        <div class="details-item">
                            <dt>Total Weight:</dt>
                            <dd>@jewelry.TotalWeight Toz</dd>
                        </div>
                        <div class="details-item">
                            <dt>Labor Price:</dt>
                            <dd>@jewelry.LaborPrice USD</dd>
                        </div>

                        @{
                            var haveGem = false;
                            foreach (var material in Model.Jewelry.JewelryMaterials)
                            {
                                if (!material.Material.IsMetail)
                                {
                                    haveGem = true;
                                    break;
                                }
                            }
                        }

                        @if (!haveGem)
                        {
                            <div class="details-item">
                                <dt>Quantity in stock:</dt>
                                <dd>@jewelry.Quantity</dd>
                            </div>
                        }
                        else
                        {
                            <div class="details-item">
                                <dt>Quantity in stock:</dt>
                                <dd>1</dd>
                            </div>
                        }

                        <div class="details-item">
                            <dt>Category:</dt>
                            <dd>@jewelry.Category.CategoryName</dd>
                        </div>
                    </dl>
                </div>
                <div>
                    <h4 class="title-material"> Product Materials</h4>
                    @{
                        double jewelryPrice = 0;
                        var metalMaterials = Model.Jewelry.JewelryMaterials.Where(jm => jm.Material.IsMetail);
                        if(metalMaterials != null && metalMaterials.Count() > 0)
                        {
                            <h5 class="title-material">Metal Materials</h5>
                            foreach(var item in metalMaterials)
                            {
                                var metalPrice = @Model.Metals.FirstOrDefault(x => x.Metal.Equals(item.Material.MaterialName)).Rate.Ask * @item.JewelryWeight;
                                <div class="material-details" >
                                    <div class="details-item">
                                        <dt>Metal Id:</dt>
                                        <dd>@item.Material.MaterialId</dd>
                                    </div>
                                    <div class="details-item">
                                        <dt>Metal Name:</dt>
                                        <dd>@item.Material.MaterialName</dd>
                                    </div>
                                    <div class="details-item">
                                        <dt>Current metal Price: </dt>
                                        <dd>@Model.Metals.FirstOrDefault(x => x.Metal.Equals(item.Material.MaterialName)).Rate.Ask at @Model.Metals.FirstOrDefault(x => x.Metal.Equals(item.Material.MaterialName)).Timestamp</dd>
                                    </div>
                                    <div class="details-item">
                                        <dt>Jewelry's Metal Price (Ask price * weight)</dt>
                                        <dd>@metalPrice.ToString("F2") $</dd>
                                    </div>
                                    @{
                                        jewelryPrice += metalPrice;
                                    }
                                </div>

                            }

                        }
                    }
                   
                    @{
                        var gemstoneMaterials = Model.Jewelry.JewelryMaterials.Where(jm => !jm.Material.IsMetail);
                        if (gemstoneMaterials != null && gemstoneMaterials.Count() > 0)
                        {
                            <h5 class="title-material">Gemstone Materials</h5>
                            foreach (var item in gemstoneMaterials)
                            {
                                 jewelryPrice += item.Material.MaterialCost;
                                <div class="material-details">
                                    <div class="details-item">
                                        <dt>Gem Id:</dt>
                                        <dd>@item.Material.MaterialId</dd>
                                    </div>
                                    <div class="details-item">
                                        <dt>Gem Name:</dt>
                                        <dd>@item.Material.MaterialName</dd>
                                    </div>
                                    <div class="details-item">
                                        <dt>Clarity:</dt>
                                        <dd>@item.Material.Clarity</dd>
                                    </div>
                                    <div class="details-item">
                                        <dt>Color:</dt>
                                        <dd>@item.Material.Color</dd>
                                    </div>
                                    <div class="details-item">
                                        <dt>Color:</dt>
                                        <dd>@item.Material.Sharp</dd>
                                    </div>
                                    <div class="details-item">
                                        <dt>Gemstone Price:</dt>
                                        <dd>@item.Material.MaterialCost.ToString("F2") $</dd>
                                    </div>
                                </div>
                            }
                        }
                    }

                </div>
                <div class="details-item" style="margin-top:20px;">
                    <dt><h4><strong>Base Price (total gem price + total metal price + Labor Prce)</strong></h4></dt>
                    @{
                        double finalPrce = (double) jewelryPrice + (double) Model.Jewelry.LaborPrice;
                    }
                        <dt><h4><strong>@finalPrce.ToString("F2")</strong></h4></dt>
                    </div>
                </dl>
            </div>
        </div>
    </div>
    <div>
        <a asp-page="./Edit" asp-route-id="@Model.Jewelry?.JewelryId">Edit</a> |
        <a asp-page="./Index">Back to List</a>
    </div>
</body>
</html>
