@page "{handler?}"
@model UI.Pages.Jewelries.EditModel

@{
	ViewData["Title"] = "Create";
	Layout = "/Pages/Shared/_DefaultLayout.cshtml"; // Use the relative path from the root of the project
}
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"]</title>
	<link rel="stylesheet" href="https://cdn.quilljs.com/1.3.6/quill.snow.css">


</head>

<h1>Edit Jewelry ID @Model.Jewelry.JewelryId</h1>
<hr />

<form method="post" id="jewelryForm" enctype="multipart/form-data">
	<div class="form-group">
		@* Display any custom message *@
		@if (!string.IsNullOrEmpty(Model.Message))
		{

			<div class="alert alert-danger d-flex align-items-center mt-3 mb-3" role="alert">
				<svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:">
					<use xlink:href="#exclamation-triangle-fill" />
				</svg>
				<div>
					<div class="text-danger">@Model.Message</div>
				</div>
			</div>
		}
	</div>
	<input type="hidden" asp-for="Jewelry.JewelryId" />
	<div class="container-lg product-form">
		<div class="container section">
			<h3 id="product-info-title">Product Information</h3>
			<div class="row product-info">
				<div class="col-md-4 image-section" style="align-content: center; padding: 20px;">
					<div class="mb-4 d-flex justify-content-center">
						<img id="selectedImage" class="mx-auto d-block img-fluid"
							 src="data:image/*;base64,@Model.ImageDataBase64String"
							 alt="example placeholder" style="max-height: 310px" />
					</div>
					<div class="d-flex justify-content-center">
						<div data-mdb-ripple-init class="btn-sm btn-primary btn-rounded">
							<label class="form-label text-white m-1" for="customFile1">Change product image</label>
							<input type="file" asp-for="Jewelry.ImageDataFile" class="form-control d-none" id="customFile1" onchange="displaySelectedImage(event, 'selectedImage')" />
						</div>
						<span asp-validation-for="Jewelry.ImageDataFile" class="text-danger"></span>
					</div>
					<div class="d-flex justify-content-center mt-2" id="removeButtonContainer" style="display: none;">
						<button type="button" class="btn btn-danger btn-sm" onclick="removeSelectedImage('selectedImage', 'customFile1')">Remove</button>
					</div>
				</div>
				<div class="col-md-7 information-section">
					<div class="row">
						<div class="form-group col-8">
							<label class="control-label">Jewelry Name </label>
							<input asp-for="Jewelry.JewelryName" class="form-control" type="text" />
							<span asp-validation-for="Jewelry.JewelryName" class="text-danger"></span>
						</div>
						<div class="form-group col-4">
							<label class="control-label">Category</label>
							<select asp-for="Jewelry.CategoryName" class="form-control" asp-items=@Model.CategoryOptions></select>
						</div>
						<div class="form-group col-auto">
							<label class="control-label"> Total Weight (Gam)</label>
							<input asp-for="Jewelry.TotalWeight" class="form-control" type="number" min="0.01" />
							<span asp-validation-for="Jewelry.TotalWeight" class="text-danger"></span>
						</div>
					</div>
					<div class="col-md-auto">
						<div class="form-group">
							<label class="control-label">Description</label>
						</div>
						<div id="editor" style="height: 200px;">
							<p>
								@Html.Raw(@Model.Jewelry.Description)
							</p>
						</div>
						
						<textarea asp-for="Jewelry.Description" id="jewelryDescription" style="display:none;"></textarea>
						<span asp-validation-for="Jewelry.Description" class="text-danger"></span>
					</div>
				</div>
			</div>
		</div>
		<div class="container section">
			<h3 id="product-info-title">Product Metal</h3>
			<div id="material-container">
				<div id="material-template" style="display: none;">
					<div class="row material-info product-info">
						<div class="form-group col-md-2">
							<label class="control-label">Metal Type</label>
							<select class="form-control metal-dropdown">
								<option value="" disabled selected>Select Metal Type</option>
								@foreach (var metaltype in Model.MetalOptions)
								{
									<option value="@metaltype.Value">@metaltype.Text</option>
								}
							</select>
						</div>
						<div class="form-group col-md-3">
							<label class="control-label">Material Weight (Gam)</label>
							<input type="number" class="form-control metal-weight" placeholder="0" min="0" step="0.01" />
						</div>
						<div class="form-group col-md-3">
							<label class="control-label">Bid Price (VNĐ/Gam)</label>
							<input type="text" class="form-control metal-bidprice" readonly />
						</div>
						<div class="form-group col-md-3">
							<label class="control-label">Offer Price (VNĐ/Gam)</label>
							<input type="text" class="form-control metal-offerprice" readonly />
						</div>
						<div class="form-group col-1">
							<button type="button" class="btn btn-sm btn-outline-danger remove-material" style="margin: 46px auto;">
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
									<path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708" />
								</svg>
							</button>
						</div>
					</div>
				</div>
			</div>
			<button type="button" style="margin: 15px 4px;"
					class="btn btn-md btn-outline-secondary" id="add-material">
				<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
					<path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"></path>
				</svg>
				Add metal
			</button>
		</div>
		<div class="container section">
			<h3 id="product-info-title">Product Gemstone</h3>
			<div id="gemstone-container">
				<div id="gemstone-template" style="display: none;">
					<div class="row gemstone-info">
						<div class="form-group col-md-3">
							<label class="control-label">Gemstone Type</label>
							<select class="form-control gemstone-dropdown">
								<option value="" disabled selected>Select Gemstone Type</option>
								@foreach (var gem in Model.GemstoneOptions)
								{
									<option value="@gem.Value">@gem.Text</option>
								}
							</select>
						</div>
						<div class="form-group col-md-3">
							<label class="control-label">Quantity (Stone)</label>
							<input type="number" class="form-control gemstone-weight" placeholder="0" min="0" step="1" />
						</div>
						<div class="form-group col-md-3">
							<label class="control-label">Gemstone Price (VNĐ/Stone)</label>
							<input type="text" class="form-control gemstone-cost" readonly />
						</div>
						<div class="form-group col-1">
							<button type="button" class="btn btn-sm btn-outline-danger remove-gemstone" style="margin: 46px auto;">
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
									<path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708" />
								</svg>
							</button>
						</div>
					</div>
				</div>
			</div>
			<button type="button" style="margin: 15px 4px;"
					class="btn btn-md btn-outline-secondary" id="add-gemstone">
				<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
					<path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"></path>
				</svg>
				Add gemstone
			</button>
		</div>
		<div class="container section">
			<h3 id="product-info-title">Stock Inventory</h3>
			<div class="row">
				<div class="form-group col-md-3">
					<label class="control-label">Quantity</label>
					<input asp-for="Jewelry.Quantity" class="form-control" type="number" min=0 placeholder="0" />
					<span asp-validation-for="Jewelry.Quantity" class="text-danger"></span>
				</div>
				<div class="form-group col-md-3">
					<label class="control-label">Sale Status</label>
					<select asp-for="Jewelry.StatusSale" class="form-control" asp-items=@Model.SaleStatusOptions></select>
					<span asp-validation-for="Jewelry.StatusSale" class="text-danger"></span>
				</div>
			</div>
		</div>
		<div class="container section">
			<h3 id="product-info-title">Product Price</h3>
			<div class="row">
				<div class="form-group col-md-3">
					<label class="control-label">Total Metal Price (VNĐ)</label>
					<input class="form-control price-input" id="total-metal-cost" readonly placeholder="0" />
				</div>
				<div class="form-group col-md-3">
					<label class="control-label">Total Stone Cost (VNĐ)</label>
					<input class="form-control price-input" id="total-gemstone-cost" readonly placeholder="0" />
				</div>
				<div class="form-group col-md-3">
					<label class="control-label">Labor Price (VNĐ)</label>
					<input id="labor-cost" asp-for="Jewelry.LaborPrice" class="form-control price-input" placeholder="0" />
					<span asp-validation-for="Jewelry.LaborPrice" class="text-danger"></span>
				</div>
				<div class="form-group col-md-3">
					<label class="control-label">Markup Percentage (%)</label>
					<input asp-for="Jewelry.MarkupPercentage" class="form-control" type="number" id="markup-percent" min=0 placeholder="0" />
					<span asp-validation-for="Jewelry.MarkupPercentage" class="text-danger"></span>
				</div>
				<div>
					<hr style="margin-top: 40px" />
				</div>
				<div class="row">
					<div class="col">
						<div>
							<label class="control-label">Sale Price</label>
						</div>
						<input class="form-control-lg price-input" id="sale-price" type="text" disabled>
					</div>
				</div>
			</div>
		</div>
		<div>
			<input type="hidden" id="metalsJson" asp-for="MetalsJson" />
			<input type="hidden" id="gemstonesJson" asp-for="GemstonesJson" />
			<div style="text-align: end; align-items: center; display: flex; flex-direction: row;justify-content:space-between; margin-left: 50px; margin-top: 40px; margin-right: 50px;">
				<div >
					<a style="font-weight: bolder" class="btn btn-secondary btn-lg" asp-page="./Index">Cancel</a>
				</div>
				<div>
					<input  type="submit" value="Update" class="btn-lg btn-primary" />
				</div>
			</div>
		</div>	
		
	
</form>



@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
		<script src="~/js/jewelrycreate.js"></script>
	}
}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script class="jsbin" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>