@page
@model UI.Pages.Jewelries.IndexModel

@{
	ViewData["Title"] = "Jewelry Catalog";
}


<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"]</title>
	<link rel="stylesheet" href="~/css/jewelryindex.css" />
</head>

<style>
	.table-header {
		justify-content: center;
	}
	.table-header tr, td {
		justify-content: center;
		align-content: center;
		height: inherit;
	}

	.table-header th {
		text-align: center;
		justify-content: center;
		align-content: center;
		height: 70px;
	}
</style>
<div class="container-lg container-jewelry">
	<h1 id="title">@ViewData["Title"]</h1>
	<form method="get">
		<div class="input-group" id="tableSearch">
			<input class="input-primary" asp-for="@Model.search" type="text" placeholder="Search..">
			<div class="input-group-append btnsearchcontainer">
				<input class="btn btn-outline-primary btnsearch input-primary" type="submit" value="Search" />
			</div>
		</div>
	</form>
	<div style="margin-top: 40px;">
		<a class="btn btn-success" asp-page="./Index">Refresh</a>
	</div>
	<hr />
	<div style="margin-top: 20px; text-align: end;">
		<a class="btn btn-primary" asp-page="./Create">Create New</a>
	</div>

	<div class="table-responsive-lg">
		<table id="table-list" class="table table-striped">
			<thead class="table-header">
				<tr>
					<th>
						No.
					</th>
					<th>
						Jewelry Image
					</th>
					<th>
						Jewelry Name
					</th>
					<th>
						Jewelry ID
					</th>
					<th>
						Quantity
					</th>
@* 					<th>
						Sale Status
					</th> *@
					<th>
						Category
					</th>
					<th>
						Base Price (VNĐ)
					</th>
					<th>
						Actions
					</th>
				</tr>
			</thead>
			<tbody style="text-align: center;">
				@{
					int i = 0;
				}
				@foreach (var item in Model.Jewelry)
				{
					<tr>
						<td>
							@{
								i = i + 1;
							}
							@i
						</td>
						<td class="image-row">
							<img src="data:image/*;base64,@ViewData[$"ItemImage_{item.JewelryId}"]" alt="Jewelry Image">
						</td>
						<td style="text-align: left;">
							@Html.DisplayFor(modelItem => item.JewelryName)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.JewelryId)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.Quantity)
						</td>
@* 						<td>

							@switch (@ViewData[$"ItemStatusSale_{item.JewelryId}"])
							{
								case "In stock":
									<span class="badge badge-info">@ViewData[$"ItemStatusSale_{item.JewelryId}"]</span>
									break;
								case "Out of stock":
									<span class="badge badge-warning">@ViewData[$"ItemStatusSale_{item.JewelryId}"]</span>
									break;
								case "Discontinued":
									<span class="badge badge-danger">@ViewData[$"ItemStatusSale_{item.JewelryId}"]</span>
									break;
								default:
									<span class="badge badge-secondary">Unknown</span>
									break;
							}

						</td> *@
						<td>
							@Html.DisplayFor(modelItem => item.Category.CategoryName)
						</td>
						<td>
							@(((Decimal)ViewData[$"ItemBasePrice_{item.JewelryId}"]).ToString("#,##0"))
						</td>
						<td class="action-btn">
							<span>
								<a class="btn btn-success" asp-page="./Details" asp-route-id="@item.JewelryId">Details</a>
							</span>
							<span>
								<a class="btn btn-warning" asp-page="./Edit" asp-route-id="@item.JewelryId">Edit</a>
							</span>
						

							<span>
								<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal" data-iddelete="@item.JewelryId" data-jwname="@item.JewelryName">
									Delete
								</button>
							</span>
						</td>
					</tr>
				}
			</tbody>
		</table>


	</div>

</div>


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Are you sure you want to delete?</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form id="deleteForm" method="post" asp-page="./Delete">
					<div class="form-group">
						<label for="jwName" class="col-form-label">Jewelry Name:</label>
						<input type="text" class="form-control jwName" id="jwName" readonly>
						<input type="hidden" name="id" class="form-control recipient" id="recipient">
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-danger" id="confirmDelete">Delete</button>
			</div>
		</div>
	</div>
</div>


<script>
	$('#exampleModal').on('show.bs.modal', function (event) {
		var button = $(event.relatedTarget); // Button that triggered the modal
		var recipient = button.data('iddelete'); // Extract info from data-* attributes
		var jwName = button.data('jwname'); // Jewelry name

		// Update the modal's content.
		var modal = $(this);
		modal.find('.modal-body .jwName').val(jwName);
		modal.find('.modal-body .recipient').val(recipient);
	});

	$('#confirmDelete').click(function () {
		$('#deleteForm').submit();
	});
</script>




<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script class="jsbin" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
