@page
@model UI.Pages.Accounts.IndexModel
<style>
   tr, th{
       text-align: center;
   }
   .table-account-view{
       margin: auto 50px;
       margin-top: 50px;
   }
</style>

<div class="table-account-view">
    <p>
        <a class="btn btn-primary" asp-page="Create">Create New</a>
    </p>

    <table class="table table-striped" style="margin-top: 30px;">
        <thead>
            <tr>
                <th>
                    No.
                </th>
                <th>
                    ID
                </th>
                <th>
                    Email
                </th>
                <th>
                    Phone
                </th>
                <th>
                    FullName
                </th>
                <th>
                    Role
                </th>
                <th>
                    Status
                </th>
                <th>
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
            @{
                int i = 0;
            }
            @foreach (var item in Model.Account)
            {
                <tr>
                    <td>
                        @{
                            i = i + 1;
                        }
                        @i
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AccountId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PhoneNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Role)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ObjectStatus)
                    </td>
                    <td>
                        <a asp-page="./Edit" asp-route-id="@item.AccountId">Edit</a> |
                        <a asp-page="./Details" asp-route-id="@item.AccountId">Details</a> |
                        <a asp-page="./Delete" asp-route-id="@item.AccountId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>
