@page
@using BusinessObjects.Enums
@model UI.Pages.Orders.Sell.DetailModel

@{
  
}

<style>
    .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
        padding: 8px;
        line-height: 1.42857143;
        vertical-align: middle;
        border-top: 1px solid #ddd
    }
</style>

<section id="center" class="center_shop">
    <div class="container">
        <div class="row">
            <div class="center_shop_t clearfix">
                <div class="col-sm-6">

                </div>
                <div class="col-sm-6">
                    <div class="center_shop_tr text-right clearfix">
                        <h6 class="col_2">You are here: Order/Detail</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="contact_top">
    <div class="container">
        <div class="row">
            <div class="">
                <div class="col-sm-6">
                    <div class="detail_14 clearfix">
                        @{
                            double totalPrice = Model.Order.OrderDetails.Sum(x => x.UnitPrice);
                            double discountPrice = Model.Order.OrderDetails.Sum(x => x.UnitPrice * x.DiscountPercent);
                            double finalPrice = totalPrice - discountPrice;
                        }
                        <h2 class="mgt">ORDER INFO</h2>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>ORDER ID</th>
                                    <th>ORDER DATE</th>
                                    <th>ORDER TYPE</th>
                                    <th>TOTAL PRICE</th>
                                    <th>DISCOUNT PRICE </th>
                                    <th>FINAL PRICE</th>
                                    <td>CUSTOMER PHONE</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>@Model.Order.OrderId</td>
                                    <td>@Model.Order.OrderDate</td>
                                    <td>@Model.Order.OrderType.ToString()</td>
                                    <td>@totalPrice.ToString("F2")</td>
                                    <td>@discountPrice.ToString("F2")</td>
                                    <td>@finalPrice.ToString("F2")</td>
                                    <td>@Model.Order.Customer.PhoneNumber</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="center" class="center_shop">
    <div class="container">
        <div class="row">
            <div class="center_shop_t clearfix">
                <h2 class="mgt">ORDER ITEM</h2>
                <hr />
                <div class="center_shop_tl clearfix">
                    <table class="table table-striped table-center">
                        <thead>
                            <tr>
                                <th>Jewelry Id</th>
                                <th>Jewelry Name</th>
                                <th>Quantity</th>
                                <th>Discount %</th>
                                <th>Total Price</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var order in Model.Order.OrderDetails)
                            {
                                <tr class="d-flex justify-content-center">
                                    <td>@order.JewelryId</td>
                                    <td>@order.Jewelry.JewelryName</td>
                                    <td>@order.Quantity</td>
                                    <td>@order.DiscountPercent %</td>
                                    <td>@order.UnitPrice</td>
                                    <td>
                                        <img src="data:image/jpeg;base64,@Convert.ToBase64String(order.Jewelry.JewelryImage)" style="max-width: 100px; max-height: 100px;" />
                                    </td>
                                    <td>
                                        <a class="button" asp-page="/Jewelries/Details" asp-route-id="@order.JewelryId">Detail</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</section>
