@page
@model UI.Pages.Orders.Buy.CreateModel
@{
}

<style>
    .up-rectangle {
        display: inline-block;
        width: 10px;
        height: 10px;
        background-color: green; /* Color for up */
        margin-left: 5px; /* Space between text and rectangle */
    }

    .down-rectangle {
        display: inline-block;
        width: 10px;
        height: 10px;
        background-color: red; /* Color for down */
        margin-left: 5px; /* Space between text and rectangle */
    }
</style>

<section id="center" class="center_shop">
    <div class="container">
        <div class="row">
            <div class="center_shop_t clearfix">
                <div class="col-sm-6">
                    <div class="center_shop_tl clearfix">
                        <h4 class="mgt">PRICE TODAY</h4>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="center_shop_tr text-right clearfix">
                        <h6 class="col_2">Updated in: @Model.Metals[0].Timestamp</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="center" class="center_shop">
    <div class="container">
        <div class="row">
            <div class="center_shop_t clearfix">
                <div class="center_shop_tl clearfix">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Metal</th>
                                <th>Price</th>
                                <th>Ask</th>
                                <th>Bid</th>
                                <th>High</th>
                                <th>Low</th>
                                <th>Change</th>
                                <th>Change %</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var metal in Model.Metals)
                            {
                                var change = metal.Rate?.Change ?? 0;
                                var changeClass = change > 0 ? "up-rectangle" : "down-rectangle";
                                <tr>
                                    <td>@metal.Metal</td>
                                    <td>@metal.Rate?.Price.ToString("0.00")</td>
                                    <td>@metal.Rate?.Ask.ToString("0.00")</td>
                                    <td>@metal.Rate?.Bid.ToString("0.00")</td>
                                    <td>@metal.Rate?.High.ToString("0.00")</td>
                                    <td>@metal.Rate?.Low.ToString("0.00")</td>
                                    <td>
                                        @metal.Rate?.Change.ToString("0.00")%
                                        <span class="@changeClass"></span>
                                    </td>
                                    <td>
                                        @metal.Rate?.ChangePercent.ToString()%
                                        <span class="@changeClass"></span>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="container">
    <div class="row">
        <div class="cart_3 clearfix">
            <!-- CART -->
            <div class="col-sm-6">
            </div>
            <!-- JEWELRY -->
            <div class="col-sm-6">
                <section id="feature">
                    <div class="container">
                        <div class="row">
                            <div class="feature_1 text-center clearfix">
                                <div class="col-sm-12">
                                    <h3 class="mgt">METAL</h3>
                                    <hr>
                                </div>
                                <div class="feature_2 clearfix">
                                    <div id="carousel-example" class="carousel slide" data-ride="carousel">
                                        <div class="carousel-inner">
                                            <div class="item active">
                                                @foreach (var metal in Model.Metals)
                                                {
                                                    <form asp-page-handler="AddMetalToCart" method="post">
                                                        <div class="col-sm-4">
                                                            <div class="feature_2im clearfix">
                                                                <div class="feature_2im1 clearfix">
                                                                    @switch (metal.Metal)
                                                                    {
                                                                        case "gold":
                                                                            <img src="~/img/gold.jpg" width="200px" height="200px" class="iw" alt="@metal.Metal">
                                                                            break;
                                                                        case "silver":
                                                                            <img src="~/img/silver.jpg" width="200px" height="200px" class="iw" alt="@metal.Metal">
                                                                            break;
                                                                        case "palladium":
                                                                            <img src="~/img/palladium.jpg" width="200px" height="200px" class="iw" alt="@metal.Metal">
                                                                            break;
                                                                    }
                                                                  
                                                                </div>
                                                                <div class="feature_2im4 clearfix">
                                                                    <div class="col-sm-6 space_left">
                                                                        <h6><a class="bg_3" href="#">@metal.Rate.Bid</a></h6>
                                                                    </div>
                                                                    <div class="col-sm-6 feature_2im4r space_right">
                                                                        <ul>
                                                                            <li><button type="submit" name="Metal" value="gold" class="fa fa-shopping-cart" /></li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </form>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>


