@page
@model UI.Pages.Orders.Buy.DetailModel
@{
}

<style>
    .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
        padding: 8px;
        line-height: 1.42857143;
        vertical-align: middle;
        border-top: 1px solid #ddd
    }
</style>

<section id="center" class="center_shop">
    <div class="container">
        <div class="row">
            <div class="center_shop_t clearfix">
                <div class="col-sm-6">
                </div>
                <div class="col-sm-6">
                    <div class="center_shop_tr text-right clearfix">
                        <h6 class="col_2">You are here: Order/Detail</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="contact_top">
    <div class="container">
        <div class="row">
            <div class="">
                <div class="col-sm-6">
                    <div class="detail_14 clearfix">
                        @{
                            double totalPrice = Model.Order.OrderDetails.Sum(x => x.UnitPrice);
                            double vat = totalPrice * 5 / 100;
                            double finalPrice = totalPrice + vat;
                        }
                        <h2 class="mgt">ORDER INFO</h2>
                        <h4 class="mgt">Order ID: @Model.Order.OrderId</h4>
                        <h4 class="mgt">Order ID: @Model.Order.OrderDate</h4>
                        <h4 class="mgt">Order ID: @Model.Order.OrderType.ToString()</h4>
                        <h4 class="mgt">Total Price: @Model.Order.OrderDetails.Sum(x => x.UnitPrice).ToString("F2")</h4>
                        <h4 class="mgt">VAT 5%: @vat.ToString("F2")</h4>
                        <h4 class="mgt">Total Price: @finalPrice.ToString("F2")</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="center" class="center_shop">
    <div class="container">
        <div class="row">
            <div class="center_shop_t clearfix">
                <div class="center_shop_tl clearfix">
                    <table class="table table-striped table-center">
                        <thead>
                            <tr>
                                <th>Jewelry Id</th>
                                <th>Jewelry Name</th>
                                <th>Quantity</th>
                                <th>Price</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var order in Model.Order.OrderDetails)
                            {
                                <tr class="d-flex justify-content-center">
                                    <td>@order.JewelryId</td>
                                    <td>@order.Jewelry.JewelryName</td>
                                    <td>@order.Quantity</td>
                                    <td>@order.UnitPrice</td>
                                    <td>
                                        <a class="button" asp-page="/Jewelries/Details" asp-route-id="@order.JewelryId">Detail</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</section>
